@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-dkblue: hsl(240, 6%, 50%);
    --text-vdkblue: hsl(237, 12%, 33%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
}

html{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
    place-items: center;
}
.wrapper{
    padding: 2rem;
    position: relative;
}
.card{
    display: grid;
    grid-template-columns: 50% 50%;
    min-width: 900px;
    background-color: white;
    border-radius: 15px;
    min-height: 500px;
    box-shadow: 2px 10px 15px 7px rgba(0,0,0,0.61);
}
.card img{
    z-index: 99;
    position: absolute;
    top: 250px;
    right: 830px;
}

/* left layout */

.left{
    position: relative;
    overflow: hidden;
}
.mobile{
    display: none;
}
.desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 98;
}
.desktop > *{
    width: 100%;
    position: absolute;
}
.desktop img:nth-child(1){
    top: 100px;
    right: 66px;
    bottom: 0;
}
.desktop img:nth-child(2){
    top: 100px;
    right: 66px;
    bottom: 0;
}
/* left layout */


/* right layout */

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
    transition: all 500ms ease; 
}
.right ul{
    list-style: none;
    padding: 0;
    width: 90%;
    
}
.toggler{
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
}
.toggled{
    display: none;
    font-size: 1rem;
}
.show{
    display: block;
}
#my_div > li{
    border-bottom: 1px solid var(--divider-blue);
    padding: 1.2rem 0;
}

/* right layout */
